.header {
  padding-top: 8px;
  padding-bottom: 6px;

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    padding-top: 36px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 38px;
    padding-bottom: 111px;
  }
}

.header__container {
  @extend .container;

  @media screen and (min-width: 1280px) {
    padding-left: 19px;
  }
}
