body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  font-family: $font-main;
  font-weight: 400;

  color: $main-txt-color;
  background-color: $main-bg-color;
}

.main-content {
  flex-grow: 1;
}
