html,
body {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  font-family: $main-font;
  color: $main-txt-color;
  background-color: $main-bg-color;

  &.mobile-menu-is-open {
    overflow: initial;
    @media screen and (max-width: 767.98px) {
      overflow: hidden;
    }
  }
}

.main-content {
  flex-grow: 1;
}
