// Fonts
$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Caveat Brush', cursive;

// Text Colors
$main-txt-color: #2e2520;
$secondary-txt-color: #ab816c;
$placeholder-txt-color: rgba(171, 129, 108, 0.5);

// Background Colors
$main-bg-color: #fffff9;
$secondary-bg-color: #fef3e4;

// Transition Props
$transition-timing: 300ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
