<header class="header">
  <div class="header__container">
    <nav class="header__navigation navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#">About us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Program</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Review</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>
    <button
      class="mobile-menu-button"
      aria-expanded="false"
      type="button"
      data-mobile-menu-button
    >
      <span class="mobile-menu-button__container">
        <span class="mobile-menu-button__line mobile-menu-button__line--top">
        </span>
        <span class="mobile-menu-button__line mobile-menu-button__line--middle">
        </span>
        <span
          class="mobile-menu-button__line mobile-menu-button__line--bottom"
        ></span>
      </span>
    </button>
    <h1 class="header__title">Donut Masterclass<br />with the Donut King</h1>
    <h2 class="header__subtitle">Hosted by Eva Green</h2>
    <a class="button" href="#register">Register</a>
  </div>
</header>
